My[[:space:]]project/Assets/*.png filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.dds filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.dfx filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.dll filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.jpeg filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.mb filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.lwo filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.rar filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.leo filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.svg filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.xm filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.3dm filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.mdb filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.tif filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.apng filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.3ds filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.zip filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.c4d filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.lwo2 filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.glb filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.iff filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.webp filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.afphoto filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.aif filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.avi filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.blender filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.ma filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.wmv filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.afdesign filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.aiff filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.mod filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.mpg filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.mpeg filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.flv filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.ogv filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.fbx filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.exe filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.gif filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.it filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.kra filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.7z filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.tar filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.exr filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.pict filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.svgz filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.psd filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.s3m filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.so filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.bmp filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.wav filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.asf filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.mp4 filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.tga filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.tiff filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.clip filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.gz filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.jpg filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.webm filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.ogg filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.obj filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.blend filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.abc filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.bin filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.atsc filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.mp3 filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.dae filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.xcf filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.kpp filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.mov filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.max filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Assets/*.pdb filter=lfs diff=lfs merge=lfs -text
